* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  margin: 0.2rem;
  width: 160px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-select select {
  display: none;
}

.custom-select__input {
  position: relative;
  height: 2rem;
  padding: 0.2rem;
  border: 1px solid #434343;
  cursor: pointer;
}

button,
input[type="submit"],
input[type="reset"] {
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  font: inherit;
  cursor: pointer;
}

.hidden {
  display: none; 
}
.custom-select__input button {
  position: absolute;
  height: 1.9rem;
  width: 1.9rem;
  right: 0;
  top: 0;
  padding: 0;
  background: #434343;
  color: white;
  border: none;
  outline: inherit;
  font: inherit;
  cursor: pointer;
}

.custom-select__input input {
  display: none;
}

.custom-select__input.custom-select-input--active button::before {
  transform: rotateZ(-180deg) translateY(50%);
}


.custom-select__input button::before {
  content: '^';
  position: absolute;
  display: block;
  top: 50%;
  right: 10px;
  height: 10px;
  transform: translateY(-50%);
  transition: transform .2s;
  line-height: 1;
  font-weight: bold;
}

.custom-select.custom-select--active .custom-select__list {
  opacity: 1;
  animation: fadeInUp .2s;
}

.custom-select__label {
  padding: 0 0.2rem;
}

.custom-select__list {
  position: absolute;
  width: 100%;
  border: 1px solid #434343;
  border-radius: 0 0 4px 4px;
  border-top: none;
  background-color: white;
  z-index: 1;
}

.custom-select__list.hidden {
  display: none;
}

.custom-select__item {
  padding: 0 0.3rem;
  cursor: pointer;
  list-style: none;
}

.custom-select__item.selected {
  background: #434343;
  color: white;
}

/* .custom-select__item:hover {
  background: #434343;
  color: white;
} */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
